# core latex gitignore
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.pdf

*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.bbl
*.blg
*.brf
*.bak
*.bcf
*.end
*.run.xml
*.tdo

*.~
*.*~*

*.lol

*.synctex.gz
*.idx
*.ilg
*.ind
*.ist

