<!doctype html>
<html>
<head>
 <title>t29 Inventory Viewer and Editor</title>
 <meta charset="utf-8">
 <meta author="SvenK">
 <meta date="2019-04">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 <link rel="stylesheet" href="inv.css" type="text/css">

 <script src="libs/jquery-3.4.1.slim.min.js" type="text/javascript"></script>
 <!-- Zepto has to go for the moment thanks to Semantic UI -->
 <!-- <script src="zepto.min.js" type="text/javascript"></script>--><!-- jquery-like -->
 <script src="libs/vue.js" type="text/javascript"></script>
 <script src="libs/vue-router.js" type="text/javascript"></script>
 <script src="libs/fast-json-patch.min.js" type="text/javascript"></script>
 <script src="main.js" type="text/javascript"></script>
 
 <!-- for the time being, test these -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
 <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<body>
<div id="loader">
	This is a JavaScript single page application.
	If you read this text, it is not working.
</div>
<div id="app"><!-- vue requires a global non-body wrapper -->

	<div class="ui fixed menu">
		<div class="ui container">
			<router-link to="/" class="header item">
				<img class="logo" src="t29-logomarke.svg" style="margin-right:1em">
				technikum29<br/>Inventory Viewer and Editor
			</router-link>
			<div class="ui simple dropdown item">
				View <i class="dropdown icon"></i>
				<div class="menu">
					<router-link to="/" class="item">Illustrated list</router-link>
					<a class="item" href="#">Inventory table</a>
					<a class="item" href="#">Export/Download</a>
					<!--<div class="divider"></div>
					<div class="header">Editing</div>-->
				</div>
			</div>
			<div class="ui simple dropdown item">Edit
				<i class="dropdown icon"></i>
				<div class="menu">
					<router-link to="/commit" class="item">Commit</router-link>
					<router-link to="/schema" class="item">Schema</router-link>
					<a class="item" href="#">Import</a>
				</div>
			</div>
			<div class="ui category search item">
				<div class="ui transparent icon input">
					<input class="prompt" type="text" placeholder="Search inventory...">
					<i class="search link icon"></i>
				</div>
				<div class="results"></div>
			</div>
			
			<a class="item connection" @click="app.global_view_settings.show_editing_infobox =! app.global_view_settings.show_editing_infobox">{{ connection }}</a>
		</div>
	</div>
	
	<div id="content">
		<div id="editing-infobox" v-if="app.global_view_settings.show_editing_infobox">
			<h3 class="ui green top attached header">Editing <i class="ui close icon" @click="app.global_view_settings.show_editing_infobox = !app.global_view_settings.show_editing_infobox"></i></h3>
			<div class="ui attached segment container" id="edit-infobox">
				<p>This page is a <strong>editable by anyone</strong>. There is an underlying Git version repository which
				ensures ever change can be tracked and rolled back, if neccessary.
				Furthermore, this web application can be used online as well as offline.
				Currently, <span class="ui teal horizontal label">Commit <span class="detail">{{ state.head_commit.id.substring(0,6) }}</span></span>
				is loaded, originating from {{ state.head_commit.date }}. This commit was last edited by <strong>{{ state.head_commit.author }}</strong>.
				<p>Your edits are currently tracked with the username
					<span class="ui left icon input mini">
						<input type="text" v-model="state.author">.
						<i class="users icon"></i>
					</span>. You can change your username any time.
				<router-link to="/commit" v-if="patch_size > 0" tag="button" class="ui primary button">Commit {{ patch_size }} changes</router-link>
				</p>
			</div>
		</div>
	
	
		<transition :name="app.routing_transition_name">
			<!-- Component matched by the router... -->
			<router-view></router-view>
		</transition>
	</div><!--/#content-->
</div><!--/#app -->

<!--
<div id="inventory">
  <li v-for="inv in inventory">
    {{ inv[app.id_field] }} {{ inv.Objekt }}
  </li>
  
  Das hier funktioniert:
  <inventory-detail v-for="inv in inventory"
     v-bind:key="inv[app.id_field]"
     v-bind:inv="inv" />
</div>
-->

<script type="text/x-template" id="inventory-list">
  <div class="inventory-list">
    <h1 class="ui header">Illustrated Inventory</h1>
    
    <div class="ui toggle checkbox">
	<input type="checkbox" name="public" v-model="view.hide_without_images">
	<label>Hide inventory lacking photos</label>
    </div>
    <button class="ui toggle button" v-bind:class="{ active: !view.hide_without_images }"
	@click="view.hide_without_images =! view.hide_without_images">Show inventory lacking photos</button>
    <button class="ui toggle button" v-bind:class="{ active: view.tabular }"
	@click="view.tabular =! view.tabular"><i class="icon user"></i> Tabular view</button>

	
    <div v-if="view.tabular">
	<table class="ui celled table">
		<thead><tr>
			<th v-for="col in view.cols">{{ col }}</th>
		</tr></thead>
		<tbody>
			<tr v-for="(inv,index) in inventory"
			    v-if="!view.hide_without_images || url_for_teaser[index]">
				<td v-for="col in view.cols">
					<!-- {{ inv[col] }} -->
					<field-display v-bind:inv="inv" :field="col" />
				</td>
			</tr>
		</tbody>
	</table>
    </div>
    <div v-else class="ui link cards six column grid">
	<div class="column" v-for="(inv,index) in inventory"
		v-if="!view.hide_without_images || url_for_teaser[index]">
		<!-- do not bind for performance; v-bind:key="inv[app.id_field]"> -->
		
		<router-link :to="{name:'detail', params:{id:inv[app.id_field]}}"  class="ui fluid card">
			<div class="image" v-if="url_for_teaser[index]">
				<img :src="url_for_teaser[index]">
			</div>
			<div class="image" v-else>
				<img :src="app.paths.media_path + app.paths.media_config.square_thumbnail_placeholder">
			</div>
			<div class="content">
				<div class="header">{{ inv[app.id_field] }}</div>
				<div class="meta">
					{{ inv.Objekt }}
				</div>
				<div class="description">
					{{ inv.Beschreibung }}
				</div>
			</div>
		</router-link>
	</div>
     </div><!-- end of column grid -->
  </div>
</script>

<script type="text/x-template" id="inventory-detail">
	<div class="inventory-detail">
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui two stackable cards">
					<div class="card" v-for="(image, index) in media" v-bind:key="media.index">
						<div class="blurring dimmable image">
							<div class="ui dimmer">
								<div class="content">
									<div class="center">
										<button class="ui basic inverted green basic button">
											<i class="icon expand"></i>
											Enlarge
										</button>
										<div class="ui horizontal inverted divider">
										   Or
										</div>
										<button class="ui labeled icon inverted blue basic button" @click="sort_media(index, -1)">
											<i class="left arrow icon"></i>
											Move left
										</button>
										<button class="ui right labeled icon inverted blue basic button" @click="sort_media(index, +1)">
											<i class="right arrow icon"></i>
											Move right
										</button>
										<br/>
										<button style="margin-top:1em" class="ui right labeled inverted red basic icon button" @click="remove_media(index)">
											<i class="trash alternate outline icon"></i>
											Remove
										</button>
									</div>
								</div>
							</div>
							
							<img :src="image" :alt="image">
						</div>
					</div><!-- // vcard -->
					
					<div class="card upload-box">
						<div class="ui placeholder segment">
							<div class="middle aligned column">
							<div class="ui big button">
								<i class="add icon"></i>
								Assign images
							</div>
							<div class="ui horizontal divider">
							Or
							</div>
							<div class="ui big button">
								<i class="upload icon"></i>
								Upload new images
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<h1 class="ui header">
					<span class="ui massive label">{{ inv[app.id_field] }}</span> 
					<field-display v-bind:inv="inv" field="Objekt" />
					<!--<sup><i class="icon info"></i></sup>-->
				</h1>
				
				<p class="ui form"><field-display v-bind:inv="inv" field="Beschreibung" /></p>
				
				<h2 class="ui dividing header">Location</h2>
				Located in building <field-display v-bind:inv="inv" field="Ort" />
				in room or area <field-display v-bind:inv="inv" field="Bereich" />
				
				<h2 class="ui dividing header">All fields</h2>
				<table class="ui definition table form">
				<thead>
					<tr><th>key</th><th>value</th></tr>
				</thead>
				<tbody>
					<tr v-for="(v,k) in inv" v-bind:key="k">
						<td>{{ k }}</td>
						<td class="ui fluid">
							<field-display v-bind:inv="inv" :field="k" alwaysEditing />
							<!--<input v-model="inv[k]" class="pseudo">-->
						</td>
					</tr>
					<tr>
						<td><input placeholder="New field..."></td>
						<td><input class="pseudo"></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>

	<!--
	In the detail view, we nevertheless show the list as a sidebar:
	<inventory-list v-bind:inventory="inventory"  />
	-->
  </div>
</script>

<script type="text/x-template" id="commit-view">
  <div class="commit-view">
    <h1 class="ui header">Commit your changes</h1>
    <p>You are currently known as <input type="text" v-model="state.author">.
    Please shortly describe your changes:</p>
    
    <textarea name="message" placeholder="do so" v-model="state.commit_msg"></textarea>
    
    <button v-on:click="commit">Submit</button>
  </div>
</script>

<script type="text/x-template" id="schema-editor">
  <div class="schema-editor">
    <h1 class="ui header">Inventory schema editor</h1>
    <p>In the schema editor, you can edit the field descriptions and ways how they are displayed
    in this very inventory editor.</p>

    <div class="ui link cards eight column grid">
    <div class="ui card" v-for="(field, fieldname) in schema.properties" v-bind:key="schema.properties.fieldname">
	<div class="content">
		<div class="right floated">
			<div class="ui labeled input mini">
				<!--<div class="ui label">Editor</div>-->
				<select class="ui compact dropdown" v-model="field.editor">
					<option disabled value="">default (inline)</option>
					<option
						v-for="opt in uniqueEditors"
						:value="opt"
						v-bind:key="uniqueEditors.opt"
					>{{opt}}</option>
				</select>
				<!-- Kann alternativ auch implementiert werden als
									
					<div class="ui selection dropdown">
					<input name="gender" type="hidden">
					<div class="default text">Select a value</div>
					<i class="dropdown icon"></i>
					<div class="menu">
					<div class="item" data-value="0">Value</div>
					<div class="item" data-value="1">Another Value</div>
					</div>
					</div>
					
				-->
				<!--<input v-model="field.editor" placeholder="Standard">-->
			</div>
		</div>
		<div class="header">{{fieldname}}</div>
		<div class="description">
			<p>{{ field.title }}</p>
			<!--<textarea v-model="field.title" class="pseudo"></textarea>-->
			
			<div v-if="field.editor == 'select'">
				<div v-if="uniqueFieldValues(fieldname)">
					<p>Auswahlmöglichkeiten auf Basis der Varianten:</p>
					<ul><li v-for="v in uniqueFieldValues(fieldname)">{{ v }}</li></ul>
				</div>
				<p v-else>
					ieses Feld wird bislang noch von <em>keinem</em> Eintrag in der Datenbank genutzt.
				</p>
			</div>
			Explizite/Vorhergesehene Beispiele aus dem Schema:
			<ul>
				<li v-for="example in field.examples">{{ example }}</li>
			</ul>
		</div>
		<div class="extra content">
				<div class="ui basic label">Usage:
					<div class="detail">{{ Math.round(usage(fieldname) * 100) }}%</div>
				</div>
				<div class="ui basic label">Unique values:
					<div class="detail">{{ uniqueFieldValues(fieldname).length }}</div>
				</div>
		</div>

	</div><!-- content -->
      </div><!-- ui card -->
      </div><!-- columns -->
  </div>
</script>

<script type="text/x-template" id="field-display">
	<span class="field-display" :class="wrapperClass">
		<!-- Work with CSS display in order to get proper jQuery initialization of <select5> -->
		<span v-if="schema.immutable" title="Immutable attribute">{{ inv[field] }}</span>
		<span class="editor">
			<input v-if="schema.editor=='single-line'" :class="inputClass" @blur="stopEdit" v-model="inv[field]" />
				
			<textarea v-else-if="schema.editor=='multiline'" :class="inputClass" v-model="inv[field]"></textarea>
			
			<!-- compact -->
			<select v-else-if="schema.editor=='select'" class="ui search dropdown" :class="inputClass" v-model="inv[field]">
				<option
					v-for="opt in uniqueFieldValues"
					:value="opt"
					v-bind:key="uniqueFieldValues.opt"
				>{{opt}}</option>
			</select>

			<div v-else class="ui error message">
				<div class="header">Field not editable</div>
				Field type <strong>{{schema.editor}}</strong> for field <strong>{{field}}</strong>
				not implmented. Please <router-link to="/schema">edit the schema</router-link>.
			</div>
			
			<div v-if="schema.is_default">
				(missing schema)
			</div>
		</span>
		<span @click="enableEdit" @focus="enableEdit" class="pseudo-editable viewer">
			{{ inv[field] }}
		</span>
	</span>
</script>
